.expense-parent-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-expense-div{
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 70vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expense-details-div {
    display: flex;
    justify-content: space-around;
}
.light .total-expense-div {
    background-color: white;
}
.dark .total-expense-div {
    color: white;
}